root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
quote_type = single
line_width = 100
max_line_length = 100

[*.py]
indent_size = 4
line_length = 88
line_width = 88
max_line_length = 88
profile = black
known_first_party = testproject, django_pay2
default_section = THIRDPARTY
recursive = true
skip = .venv/
skip_glob = **/migrations/*.py
